name: Update container image when pushing to main

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}

      - name: docker build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/darthkilroy/natesturtz.com:${{ github.sha }}
          
      - name: Update container image on Edge
        uses: BunnyWay/actions/container-update-image@main
        with:
         app_id: ${{ vars.APP_ID }}
         api_key: ${{ secrets.BUNNYNET_API_KEY }}
         container: website
         image_tag: "${{ github.sha }}"